### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++ etc..;

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Vegas etc..;

|Data Science Tools|
|---|
|Anaconda|
|Jupyter Notebooks|
|R Studio|
|Spyder|
|Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* Add comments to code cells
* Create markdown cells
* Add ordered and unordered lists to markdown cells
* Format content of markdown cells with heading styles

## Author(s)
Dipak Neupane